mdomladov_aplikacija_2/mdomladov_aplikacija_2_2/src/conf/xml-resources/web-service-references/GeoMeteoWS/wsdl/localhost_29000/mdomladov_aplikacija_1/GeoMeteoWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://serveri.ws.mdomladov.nwtis.foi.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://serveri.ws.mdomladov.nwtis.foi.org/">

<xs:element name="dajAdresuZauredjaj" type="tns:dajAdresuZauredjaj" />

<xs:element name="dajAdresuZauredjajResponse" type="tns:dajAdresuZauredjajResponse" />

<xs:element name="dajSveMeteoPodatkeZaUredjaj" type="tns:dajSveMeteoPodatkeZaUredjaj" />

<xs:element name="dajSveMeteoPodatkeZaUredjajResponse" type="tns:dajSveMeteoPodatkeZaUredjajResponse" />

<xs:element name="dajSveUredjaje" type="tns:dajSveUredjaje" />

<xs:element name="dajSveUredjajeResponse" type="tns:dajSveUredjajeResponse" />

<xs:element name="dajZadnjeMeteoPodatkeZaUredjaj" type="tns:dajZadnjeMeteoPodatkeZaUredjaj" />

<xs:element name="dajZadnjeMeteoPodatkeZaUredjajResponse" type="tns:dajZadnjeMeteoPodatkeZaUredjajResponse" />

<xs:element name="dajZadnjihNMeteoPodataka" type="tns:dajZadnjihNMeteoPodataka" />

<xs:element name="dajZadnjihNMeteoPodatakaResponse" type="tns:dajZadnjihNMeteoPodatakaResponse" />

<xs:element name="dodajUredjaj" type="tns:dodajUredjaj" />

<xs:complexType name="dajZadnjeMeteoPodatkeZaUredjaj">
<xs:sequence>
<xs:element name="uredjajId" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajZadnjeMeteoPodatkeZaUredjajResponse">
<xs:sequence>
<xs:element name="return" type="tns:meteoPodaci" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="meteoPodaci">
<xs:sequence>
<xs:element name="cloudsName" type="xs:string" minOccurs="0" />
<xs:element name="cloudsValue" type="xs:int" />
<xs:element name="humidityUnit" type="xs:string" minOccurs="0" />
<xs:element name="humidityValue" type="xs:float" minOccurs="0" />
<xs:element name="lastUpdate" type="xs:dateTime" minOccurs="0" />
<xs:element name="naziv" type="xs:string" minOccurs="0" />
<xs:element name="precipitationMode" type="xs:string" minOccurs="0" />
<xs:element name="precipitationUnit" type="xs:string" minOccurs="0" />
<xs:element name="precipitationValue" type="xs:float" minOccurs="0" />
<xs:element name="pressureUnit" type="xs:string" minOccurs="0" />
<xs:element name="pressureValue" type="xs:float" minOccurs="0" />
<xs:element name="sunRise" type="xs:dateTime" minOccurs="0" />
<xs:element name="sunSet" type="xs:dateTime" minOccurs="0" />
<xs:element name="temperatureMax" type="xs:float" minOccurs="0" />
<xs:element name="temperatureMin" type="xs:float" minOccurs="0" />
<xs:element name="temperatureUnit" type="xs:string" minOccurs="0" />
<xs:element name="temperatureValue" type="xs:float" minOccurs="0" />
<xs:element name="visibility" type="xs:string" minOccurs="0" />
<xs:element name="weatherIcon" type="xs:string" minOccurs="0" />
<xs:element name="weatherNumber" type="xs:int" />
<xs:element name="weatherValue" type="xs:string" minOccurs="0" />
<xs:element name="windDirectionCode" type="xs:string" minOccurs="0" />
<xs:element name="windDirectionName" type="xs:string" minOccurs="0" />
<xs:element name="windDirectionValue" type="xs:float" minOccurs="0" />
<xs:element name="windSpeedName" type="xs:string" minOccurs="0" />
<xs:element name="windSpeedValue" type="xs:float" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajSveMeteoPodatkeZaUredjaj">
<xs:sequence>
<xs:element name="uredjajId" type="xs:int" />
<xs:element name="intervalOd" type="xs:long" />
<xs:element name="intervalDo" type="xs:long" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajSveMeteoPodatkeZaUredjajResponse">
<xs:sequence>
<xs:element name="return" type="tns:meteoPodaci" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajSveUredjaje">
<xs:sequence />
</xs:complexType>

<xs:complexType name="dajSveUredjajeResponse">
<xs:sequence>
<xs:element name="return" type="tns:uredjaj" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="uredjaj">
<xs:sequence>
<xs:element name="geoloc" type="tns:lokacija" minOccurs="0" />
<xs:element name="id" type="xs:int" />
<xs:element name="naziv" type="xs:string" minOccurs="0" />
<xs:element name="status" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="lokacija">
<xs:sequence>
<xs:element name="adresa" type="xs:string" minOccurs="0" />
<xs:element name="latitude" type="xs:string" minOccurs="0" />
<xs:element name="longitude" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="dodajUredjaj">
<xs:sequence>
<xs:element name="naziv" type="xs:string" minOccurs="0" />
<xs:element name="adresa" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajAdresuZauredjaj">
<xs:sequence>
<xs:element name="uredjajId" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajAdresuZauredjajResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajZadnjihNMeteoPodataka">
<xs:sequence>
<xs:element name="uredjajId" type="xs:int" />
<xs:element name="brojMeteoPodataka" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajZadnjihNMeteoPodatakaResponse">
<xs:sequence>
<xs:element name="return" type="tns:meteoPodaci" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:schema>