mdomladov_aplikacija_2/mdomladov_aplikacija_2_2/src/conf/xml-resources/web-service-references/GeoMeteoWS/wsdl/localhost_29000/mdomladov_aplikacija_1/GeoMeteoWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serveri.ws.mdomladov.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serveri.ws.mdomladov.nwtis.foi.org/" name="GeoMeteoWS">
<types>
<xsd:schema>
<xsd:import namespace="http://serveri.ws.mdomladov.nwtis.foi.org/" schemaLocation="http://localhost:29000/mdomladov_aplikacija_1/GeoMeteoWS?xsd=1" />
</xsd:schema>
</types>
<message name="dajSveUredjaje">
<part name="parameters" element="tns:dajSveUredjaje" />
</message>
<message name="dajSveUredjajeResponse">
<part name="parameters" element="tns:dajSveUredjajeResponse" />
</message>
<message name="dodajUredjaj">
<part name="parameters" element="tns:dodajUredjaj" />
</message>
<message name="dajSveMeteoPodatkeZaUredjaj">
<part name="parameters" element="tns:dajSveMeteoPodatkeZaUredjaj" />
</message>
<message name="dajSveMeteoPodatkeZaUredjajResponse">
<part name="parameters" element="tns:dajSveMeteoPodatkeZaUredjajResponse" />
</message>
<message name="dajAdresuZauredjaj">
<part name="parameters" element="tns:dajAdresuZauredjaj" />
</message>
<message name="dajAdresuZauredjajResponse">
<part name="parameters" element="tns:dajAdresuZauredjajResponse" />
</message>
<message name="dajZadnjeMeteoPodatkeZaUredjaj">
<part name="parameters" element="tns:dajZadnjeMeteoPodatkeZaUredjaj" />
</message>
<message name="dajZadnjeMeteoPodatkeZaUredjajResponse">
<part name="parameters" element="tns:dajZadnjeMeteoPodatkeZaUredjajResponse" />
</message>
<message name="dajZadnjihNMeteoPodataka">
<part name="parameters" element="tns:dajZadnjihNMeteoPodataka" />
</message>
<message name="dajZadnjihNMeteoPodatakaResponse">
<part name="parameters" element="tns:dajZadnjihNMeteoPodatakaResponse" />
</message>
<portType name="GeoMeteoWS">
<operation name="dajSveUredjaje">
<input wsam:Action="http://serveri.ws.mdomladov.nwtis.foi.org/GeoMeteoWS/dajSveUredjajeRequest" message="tns:dajSveUredjaje" />
<output wsam:Action="http://serveri.ws.mdomladov.nwtis.foi.org/GeoMeteoWS/dajSveUredjajeResponse" message="tns:dajSveUredjajeResponse" />
</operation>
<operation name="dodajUredjaj">
<input wsam:Action="http://serveri.ws.mdomladov.nwtis.foi.org/GeoMeteoWS/dodajUredjaj" message="tns:dodajUredjaj" />
</operation>
<operation name="dajSveMeteoPodatkeZaUredjaj">
<input wsam:Action="http://serveri.ws.mdomladov.nwtis.foi.org/GeoMeteoWS/dajSveMeteoPodatkeZaUredjajRequest" message="tns:dajSveMeteoPodatkeZaUredjaj" />
<output wsam:Action="http://serveri.ws.mdomladov.nwtis.foi.org/GeoMeteoWS/dajSveMeteoPodatkeZaUredjajResponse" message="tns:dajSveMeteoPodatkeZaUredjajResponse" />
</operation>
<operation name="dajAdresuZauredjaj">
<input wsam:Action="http://serveri.ws.mdomladov.nwtis.foi.org/GeoMeteoWS/dajAdresuZauredjajRequest" message="tns:dajAdresuZauredjaj" />
<output wsam:Action="http://serveri.ws.mdomladov.nwtis.foi.org/GeoMeteoWS/dajAdresuZauredjajResponse" message="tns:dajAdresuZauredjajResponse" />
</operation>
<operation name="dajZadnjeMeteoPodatkeZaUredjaj">
<input wsam:Action="http://serveri.ws.mdomladov.nwtis.foi.org/GeoMeteoWS/dajZadnjeMeteoPodatkeZaUredjajRequest" message="tns:dajZadnjeMeteoPodatkeZaUredjaj" />
<output wsam:Action="http://serveri.ws.mdomladov.nwtis.foi.org/GeoMeteoWS/dajZadnjeMeteoPodatkeZaUredjajResponse" message="tns:dajZadnjeMeteoPodatkeZaUredjajResponse" />
</operation>
<operation name="dajZadnjihNMeteoPodataka">
<input wsam:Action="http://serveri.ws.mdomladov.nwtis.foi.org/GeoMeteoWS/dajZadnjihNMeteoPodatakaRequest" message="tns:dajZadnjihNMeteoPodataka" />
<output wsam:Action="http://serveri.ws.mdomladov.nwtis.foi.org/GeoMeteoWS/dajZadnjihNMeteoPodatakaResponse" message="tns:dajZadnjihNMeteoPodatakaResponse" />
</operation>
</portType>
<binding name="GeoMeteoWSPortBinding" type="tns:GeoMeteoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="dajSveUredjaje">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="dodajUredjaj">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
</operation>
<operation name="dajSveMeteoPodatkeZaUredjaj">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="dajAdresuZauredjaj">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="dajZadnjeMeteoPodatkeZaUredjaj">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="dajZadnjihNMeteoPodataka">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="GeoMeteoWS">
<port name="GeoMeteoWSPort" binding="tns:GeoMeteoWSPortBinding">
<soap:address location="http://localhost:29000/mdomladov_aplikacija_1/GeoMeteoWS" />
</port>
</service>
</definitions>